# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfstate.backup
*.tfstate.lock.info
# Sensitive files
*.pem
*.key

# Terraform variables
*.tfvars*
*.auto.tfvars


# OS files
.DS_Store
